.clients {
  @extend %list;

  display: flex;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms var(--transition-timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
