:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --optional-bgcolor: #f5f4fa;
  --white-color: #ffffff;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
